.App {
  text-align: center;
}

.navbar {
  float: left;
  width: 100vw;
  height: 10vh;
  background: lightblue;
  border-bottom: 2px solid white;
}

.sidebar {
  float: left;
  width: 30vw;
  height: 90vh;
  background: lightgrey;
  color: white;
}

.main-content {
  width: 70%;
  float: left;
  height: 90vh;
  background: white;
  color: black;
}