/* Background image */

body {
  background: url('./sky.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Navbar font size */
nav ul a {
  font-size: 1.5rem;
}

/* Target image placement inside idea cards */
.ideas .bucketlist img{
  position: absolute;
  top: 0px;
  left: -30px;
  opacity: 0.4;
  width: 80px;
  height: 75px
}

/* ideas card container */
.ideas .bucketlist{
  overflow: hidden;
} 

/* input text placement */
input {
  text-align: center;
} 

/* font size for list elements */
ul.browser-default li {
  font-size: 1.3rem;
}

/* font size for paragraph elements */
p {
  font-size: 1.5rem;
}

/* font size for placeholder selector */
::placeholder {
 font-size: 1.5rem;
}

/* shadow effect for "DIE" on home page */
#shadowed {
  text-shadow: 1px 1px 3px darkred
}